<div class="hello">
  <p><img src="images/KEL.png" alt="Katalyst Education Logo" /></p>
  <p id="prompter" data-l10n-id="prompt">Default text</p>
  <button id="addButton" class="custom-button">{{addButtonText}}</button>
  <button id="clearButton" class="btn btn-warning">{{clearButtonText}}</button>
</div>
